.addTodo {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
}
.addTodo form {
  width: 50%;
  margin: auto;
}
input#description {
  width: 70%;
  height: 2rem;
  border-radius: 10px;
  border-color: #cfd8dc;
  border: none;
  color: #455a64;
  &::placeholder {
    color: #455a64;
  }
}
button#submit {
  width: 20%;
  height: 2rem;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .addTodo form {
    width: auto;
    margin: auto;
  }
  input#description {
    width: auto;
    height: 2rem;
    border-radius: 10px;
  }
  button#submit {
    width: auto;
    height: 2rem;
    border-radius: 10px;
  }
}
